<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title> Suivi Dep </title>
    </head>
    <body>
<h5> navigation </h5>
<p> <a href='{% url "dep:depDoc_url"%}'> Retour Menu Documentation</a>
    &emsp; <a href='{% url "dep:dep_url"%}'> Retour Menu Dep</a> </p>
<p> ---- </p>
<p> Version 1 de l'application </p>

<p>La gestion des dépenses s'effectue par transaction (souvent notée tx) : ce sont elles qu'on saisit d'abord.
Une transaction correspond à un contrat, mouvement d'argent avec contrepartie. Une transaction donnée se voit associés :
</p>
<ul>
<li>un ou plusieurs mouvement(s) d'argent que l'on appelle mouvmts courant jusq'à leur rapprochement bancaire</li>
<li>un engagement si elle est de type Abonnement ou paiement à la Livraison ou règlement étalé </li>
<li>une ou plusieurs ligne(s) d'achat catégorisée, contrepartie des mouvmts d'argent de la transaction </li>
</ul>

<p>notes :
<ul>
    <li>il n'y pas pas toujours correspondance un pour un entre ligne d'achat et mouvement d'argent.
        <ul>
            <li> Cela n'est vrai que pour les transcations mono catégorie à règlement comptant, de type "acheter du pain en boulangerie".</li>
            <li>  Une tx multi catégories aura pls lignes d'achat, une tx à règlement étalé aura pls mouvmts </li>
        </ul>
    </li>
    <li>à tout moment le montant d'une tx est égal à la somme des ses mouvmts et de ses engagmts.
        <ul>
            <li>  Pour une transaction à paiements étalés, l'engagement deviendra nul et disparaîtra. </li>
            <li> Pour une transaction d'abonnement, l'engagement durera tout le temps de l'abonnement.
                    Il est source d'un mouvment et d'une ligne d'achat périodique </li>
        </ul>
    </li>
</ul>
</p>
<p>Pour bien naviguer, il faut avoir à l'esprit l'essence des données portées par chaque entité : </p>
<ul>
<li>pour une transaction, sa nature (unitaire, à livraison, abonnement) et son mode de règlement (comptant, étalé, à crédit) </li>
<li>pour un mouvements d'argent, le moyen de paiement utilisé (espèce, carte bancaire, virement,...) </li>
<li>pour une ligne d'achat, l'intitulé de l'achat et sa catégorie (raquette, dans équipement de loisir par exmple) </li>
</ul>
<p>La notion de fournisseur régulier est destinée à éviter de saisir des données identiques pour des transaction répétées chez un même fournisseur (type le pain chez mon boulanger). C'est le fournisseur qui porte les données habituelle pour la tx , pour son mouvmt de base et pour sa ligne d'achat de base.
</p>
<p> La notion de période correspond au mois calendaire :</p>
    <ul><li> plus exactement, elle correspond au renouvellement des rentrées monétaires sur le(s) compte(s) </li>
        <li> en début de période, l'opération "nouvelle période" fait monter dans la liste des mouvments
        ceux qui sont issus des engagements liés aux transactions d'abonnement renouvelables automatiquement. </li>
        </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>