<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title> Suivi Dep </title>
    </head>
    <body>
<h5> navigation </h5>
<p> <a href='{% url "dep:depDoc_url"%}'> Retour Menu Documentation</a>
    &emsp; <a href='{% url "dep:dep_url"%}'> Retour Menu Dep</a> </p>
<p> ---- </p>
<p> Version 1 de l'application </p>
<h3> Remboursement</h5>
    La gestion des remboursements est possible mais peu automatisée :
    <ul>
        <li>Si on veut suivre une demande de remboursement en l'ayant dans la liste des tx en attente de livraison, ici celle d'un remboursement :
        </li>
        <ul> <li> il faut créer une transaction de nature remboursement de montant négatif (on attend une rentrée d'argent). </li>
            <li> Cette transaction n'a ni mouvement, ni engagement, ni ligne d'achat </li>
        </ul>
        <li>  A l'acceptation de la demande de remboursement par le fournisseur :  </li>

            <ul>
            <li> La transaction remboursement sera supprimée manuellement si l'option de suivi a été choisie </li>
            <li> On retourne dans la transaction initiale pour lui ajouter manuellement :</li>
                <ul> <li> un mouvement négatif du montant du remboursement reduit de frais éventuels de retour </li>
                    <li> le moyen de paiement peut être un virement ou un avoir sur prochaine commande</li>
                    <li> une ligne d'achat de service de gestion si il y a des frais de retour </li></ul>
            </ul>

        <li> A rapprochement :</li>
            <ul> <li> si le remboursement est effectué par virement, il est rapproché</li>
                <li> si le remboursement est effectué par avoir, il va rester 'à rapprocher' jusqu'à la prochaine commande </li>
                <li> A la prochaine commande chez un fournisseur où l'on a un avoir : </li>
                    <ul><li> création d'une transaction du montant hors avoir </li>
                        <li> créations de lignes d'achat de montant hors avoir</li>
                        <li> modification du mouvement généré pour déduire l'avoir de son montant en vue de son rapprochement </li>
                        <li> création d'un mouvement d'avoir à montant positif </li>
                        <li> si l'avoir a été intégralement utilisé :
                            <ul> <li> rapprochement du mouvement d'avoir de la transaction initiale  </li></ul>
                        </li>
                        <li> si l'avoir n'a été que partiellement utilisé :
                            <ul> <li> on ne sait pas traiter !   </li></ul>
                        </li>
                    </ul>
                <li> Il n'y a pas d'automatisation et le cas d'un avoir partiellement utilisé n'est pas traité </li>
            </ul>

        <li>En V1 de l'application, il n'y a pas de lien entre cette transaction remboursement et la transaction initiale,
            ce qui oblige à rechercher dans la liste des transactions </li>

    </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>